@mixin in-the-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin grid-layout($cols: 1, $space: $space-base) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  gap: $space;
}
