/// COLORS
$color-white: #fff;
$color-black: #0000;
$color-grayish:#4a4a4a;
$color-slight-grayish: #e8e6ef;
$color-light-gray: #f6f6f4;
$color-enable: #95ce10;
$color-info: #e6f7c5;

/// FONTS
$font-family-default: "HelveticaNeue", sans-serif;
$font-family-bold: "HelveticaNeue-Bold", sans-serif;

/// FONT SIZE
$font-base: 16px;
$font-size-m: 18px;
$font-size-l: 35px;
$font-size-s: 13px;

/// SPACING UNITS
$space-base: 30px;
$space-ss: 5px;
$space-s: 10px;
$space-sm: 15px;
$space-m: 23px;

/// SPACING HIGHER UNITS
$space-h: 165px;

/// LINE HEIGHT
$line-height-default: 19px;
$line-height-m: 22px;
$line-height-xl: 43px;

/// BORDER RADIUS
$border-radius-smooth: 10px;




