/// FONTS
$font-face-default: "HelveticaNeue";
$font-face-bold: "HelveticaNeue-Bold";

/// FONT SIZE
$font-base: 16px;
$font-size-m: 18px;
$font-size-l: 35px;

/// Padding
$padding-base: 30px;
$padding-m: 23px;



