@import "../assets/scss/main.scss";

.Checkbox {
  @include flex-center;
  
  &--checked {
    min-width: $space-h;
    @include flex-center;
  }

  &__title {
    font-size: 12px;
  }
}

.Checkbox__box {
  width: $space-sm;
  height: $space-sm;
  margin-right: $space-ss;
  background: $color-white;
  position: relative;
  border: 1px solid $color-slight-grayish;
  
  label {
    width: $space-s;
    height: $space-s;
    @include in-the-middle;
    
    &:after {
      content: '';
      width: $space-s;
      height: $space-s;
      @include in-the-middle;
      background-color: $color-enable;
      opacity: 0;
    }
  }

  input[type=checkbox] {
    appearance: none;
    &:checked + label:after {
      opacity: 1;
    }   
  } 
}
