@import "../assets/scss/main.scss";

.Dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;

  &__content {
    min-width: 50%;
    padding: $space-base;
    border-radius:$border-radius-smooth;
    position: fixed;
    align-items: baseline;
    @include in-the-middle;
    background-color: $color-info;
    overflow:auto;

    & button {
      padding: $space-s;
      max-width: 45%; 
      border-radius: $border-radius-smooth;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
  }
}