@import "../assets/scss/main.scss";

.Header {
  @include flex-center;

  h1{
    font-size: $font-size-l;
    font-family: $font-family-bold;
    line-height: $line-height-xl;
  }

  p{
    font-size: $font-size-m;
    line-height: $line-height-m;
  }
}