@import "../assets/scss/main.scss";

html,
body {
  font-family: $font-family-default;
  font-size: $font-base;
  margin: $space-base;
  height: 100%;
  background-color: $color-light-gray
}

.Section__container {
  @include grid-layout;

  &--grid {
    @include grid-layout(2);
  }
}